In [1]:
import pandas as pd
import json
filePath = r"C:\\Users\\Pat\\Desktop\\Projects\\LoLAramPredictor\\Game Info\\"

In [2]:
with open(filePath+'champion.json', encoding='utf8') as f:
    championData = json.load(f)

champions = pd.DataFrame(columns = ['championId', 'name', 'attack', 'defense', 'magic', 'difficulty', 'primaryClass', 'secondaryClass', 'partype', 'hp', 'hpperlevel', 'mp', 'mpperlevel', 'movespeed', 'armor', 'armorperlevel', 'spellblock', 'spellblockperlevel', 'attackrange', 'hpregen', 'hpregenperlevel', 'mpregen', 'mpregenperlevel', 'crit', 'critperlevel', 'attackdamage', 'attackdamageperlevel', 'attackspeedperlevel', 'attackspeed'])

for k, v in championData['data'].items():
    champions = champions.append({'championId': int(v['key']),
                        'name': v['name'], 
                        'attack': v['info']['attack'], 
                        'defense': v['info']['defense'], 
                        'magic': v['info']['magic'], 
                        'difficulty': v['info']['difficulty'], 
                        'primaryClass': v['tags'][0], 
                        'secondaryClass': v['tags'][1] if len(v['tags']) > 1 else 'None', 
                        'partype': v['partype'], 
                        'hp': v['stats']['hp'], 
                        'hpperlevel': v['stats']['hpperlevel'], 
                        'mp': v['stats']['mp'], 
                        'mpperlevel': v['stats']['mpperlevel'], 
                        'movespeed': v['stats']['movespeed'], 
                        'armor': v['stats']['armor'], 
                        'armorperlevel': v['stats']['armorperlevel'], 
                        'spellblock': v['stats']['spellblock'], 
                        'spellblockperlevel': v['stats']['spellblockperlevel'], 
                        'attackrange': v['stats']['attackrange'], 
                        'hpregen': v['stats']['hpregen'], 
                        'hpregenperlevel': v['stats']['hpregenperlevel'], 
                        'mpregen': v['stats']['mpregen'], 
                        'mpregenperlevel': v['stats']['mpregenperlevel'], 
                        'crit': v['stats']['crit'], 
                        'critperlevel': v['stats']['critperlevel'], 
                        'attackdamage': v['stats']['attackdamage'], 
                        'attackdamageperlevel': v['stats']['attackdamageperlevel'], 
                        'attackspeedperlevel': v['stats']['attackspeedperlevel'], 
                        'attackspeed': v['stats']['attackspeed']}, ignore_index=True)

champions

,championId,name,attack,defense,magic,difficulty,primaryClass,secondaryClass,partype,hp,...,hpregen,hpregenperlevel,mpregen,mpregenperlevel,crit,critperlevel,attackdamage,attackdamageperlevel,attackspeedperlevel,attackspeed
0,266,Aatrox,8,4,3,4,Fighter,Tank,Blood Well,580,...,3,1,0,0,0,0,60,5,2.500,0.651
1,103,Ahri,3,4,8,5,Mage,Assassin,Mana,526,...,6.5,0.6,8,0.8,0,0,53.04,3,2.000,0.668
2,84,Akali,5,3,8,7,Assassin,None,Energy,575,...,8,0.5,50,0,0,0,62.4,3.3,3.200,0.625
3,12,Alistar,6,9,5,7,Tank,Support,Mana,600,...,8.5,0.85,8.5,0.8,0,0,62,3.75,2.125,0.625
4,32,Amumu,2,6,8,3,Tank,Mage,Mana,613.12,...,9,0.85,7.382,0.525,0,0,53.38,3.8,2.180,0.736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,238,Zed,9,2,1,7,Assassin,None,Energy,584,...,7,0.65,50,0,0,0,63,3.4,3.300,0.651
146,115,Ziggs,2,4,9,4,Mage,None,Mana,536,...,6.5,0.6,8,0.8,0,0,54.208,3.1,2.000,0.656
147,26,Zilean,2,5,8,6,Support,Mage,Mana,504,...,5.5,0.5,11.335,0.8,0,0,51.64,3,2.130,0.625
148,142,Zoe,1,7,8,5,Mage,Support,Mana,560,...,6.5,0.6,8,0.65,0,0,58,3.3,2.500,0.625
149,143,Zyra,4,3,8,7,Mage,Support,Mana,504,...,5.5,0.5,13,0.4,0,0,53.376,3.2,2.110,0.625

In [3]:
with open(filePath+'item.json', encoding='utf8') as f:
    itemData = json.load(f)

items = pd.DataFrame(columns = ['id', 'name', 'tags', 'stats'])

for k, v in itemData['data'].items():
    items = items.append({'id': k,
                    'name': v['name'], 
                    'tags': v['tags'],
                    'stats': v['stats'] 
                    }, ignore_index=True )
items.head()

     id               name              tags                         stats
0  1001     Boots of Speed           [Boots]  {'FlatMovementSpeedMod': 25}
1  1004       Faerie Charm       [ManaRegen]                            {}
2  1006  Rejuvenation Bead     [HealthRegen]                            {}
3  1011       Giant's Belt          [Health]        {'FlatHPPoolMod': 380}
4  1018   Cloak of Agility  [CriticalStrike]    {'FlatCritChanceMod': 0.2}

In [4]:
tagTypes = set()
items['tags'].apply(lambda x: tagTypes.update((t for t in x)))
tagTypes

{'Active',
 'Armor',
 'ArmorPenetration',
 'AttackSpeed',
 'Aura',
 'Bilgewater',
 'Boots',
 'Consumable',
 'CooldownReduction',
 'CriticalStrike',
 'Damage',
 'GoldPer',
 'Health',
 'HealthRegen',
 'Jungle',
 'Lane',
 'LifeSteal',
 'MagicPenetration',
 'Mana',
 'ManaRegen',
 'NonbootsMovement',
 'OnHit',
 'Slow',
 'SpellBlock',
 'SpellDamage',
 'SpellVamp',
 'Stealth',
 'Tenacity',
 'Trinket',
 'Vision'}

In [5]:
statTypes = set()
items['stats'].apply(lambda x: statTypes.update((s for s in x)))
statTypes

{'FlatArmorMod',
 'FlatCritChanceMod',
 'FlatHPPoolMod',
 'FlatHPRegenMod',
 'FlatMPPoolMod',
 'FlatMagicDamageMod',
 'FlatMovementSpeedMod',
 'FlatPhysicalDamageMod',
 'FlatSpellBlockMod',
 'PercentAttackSpeedMod',
 'PercentLifeStealMod',
 'PercentMovementSpeedMod'}

In [6]:
apItems = items[items['tags'].apply(lambda x: 'SpellDamage' in x)]
apItems

,id,name,tags,stats
5,1026,Blasting Wand,[SpellDamage],{'FlatMagicDamageMod': 40}
18,1052,Amplifying Tome,[SpellDamage],{'FlatMagicDamageMod': 20}
22,1056,Doran's Ring,"[Health, Lane, ManaRegen, SpellDamage]","{'FlatHPPoolMod': 60, 'FlatMagicDamageMod': 15}"
24,1058,Needlessly Large Rod,[SpellDamage],{'FlatMagicDamageMod': 60}
25,1082,Dark Seal,"[HealthRegen, SpellDamage, Mana, Lane]","{'FlatMPPoolMod': 100, 'FlatMagicDamageMod': 10}"
49,2139,Elixir of Sorcery,"[Consumable, ManaRegen, SpellDamage]",{}
59,3003,Archangel's Staff,"[SpellDamage, Mana, ManaRegen, CooldownReduction]","{'FlatMPPoolMod': 650, 'FlatMagicDamageMod': 50}"
63,3007,Archangel's Staff (Quick Charge),"[SpellDamage, Mana, ManaRegen, CooldownReduction]","{'FlatMPPoolMod': 650, 'FlatMagicDamageMod': 50}"
72,3027,Rod of Ages,"[Health, HealthRegen, Mana, ManaRegen, SpellDa...","{'FlatHPPoolMod': 300, 'FlatMPPoolMod': 300, '..."
74,3029,Rod of Ages (Quick Charge),"[Health, HealthRegen, Mana, ManaRegen, SpellDa...","{'FlatHPPoolMod': 300, 'FlatMPPoolMod': 300, '..."
75,3030,Hextech GLP-800,"[SpellDamage, Mana, Active, CooldownReduction,...","{'FlatMPPoolMod': 600, 'FlatMagicDamageMod': 80}"
81,3041,Mejai's Soulstealer,"[SpellDamage, Mana]","{'FlatMPPoolMod': 200, 'FlatMagicDamageMod': 20}"
110,3089,Rabadon's Deathcap,[SpellDamage],{'FlatMagicDamageMod': 120}
114,3100,Lich Bane,"[SpellDamage, Mana, CooldownReduction, Nonboot...","{'PercentMovementSpeedMod': 0.07, 'FlatMPPoolM..."
116,3102,Banshee's Veil,"[SpellBlock, SpellDamage, CooldownReduction]","{'FlatSpellBlockMod': 60, 'FlatMagicDamageMod'..."
119,3108,Fiendish Codex,"[CooldownReduction, SpellDamage]",{'FlatMagicDamageMod': 35}
123,3112,Guardian's Orb,"[Health, SpellDamage, ManaRegen, Lane]","{'FlatHPPoolMod': 150, 'FlatMagicDamageMod': 35}"
124,3113,Aether Wisp,"[NonbootsMovement, SpellDamage]",{'FlatMagicDamageMod': 30}
126,3115,Nashor's Tooth,"[AttackSpeed, CooldownReduction, OnHit, SpellD...","{'FlatMagicDamageMod': 80, 'PercentAttackSpeed..."
127,3116,Rylai's Crystal Scepter,"[Health, SpellDamage, Slow]","{'FlatHPPoolMod': 300, 'FlatMagicDamageMod': 90}"
130,3124,Guinsoo's Rageblade,"[Damage, AttackSpeed, SpellDamage, OnHit, Magi...","{'FlatPhysicalDamageMod': 25, 'FlatMagicDamage..."
131,3128,Deathfire Grasp,"[Active, CooldownReduction, SpellDamage]",{'FlatMagicDamageMod': 120}
135,3135,Void Staff,"[MagicPenetration, SpellDamage]",{'FlatMagicDamageMod': 70}
136,3136,Haunting Guise,"[Health, SpellDamage]","{'FlatHPPoolMod': 200, 'FlatMagicDamageMod': 35}"
143,3145,Hextech Revolver,[SpellDamage],{'FlatMagicDamageMod': 40}
144,3146,Hextech Gunblade,"[Active, Damage, LifeSteal, Slow, SpellDamage,...","{'FlatPhysicalDamageMod': 40, 'FlatMagicDamage..."
146,3151,Liandry's Torment,"[Health, SpellDamage]","{'FlatHPPoolMod': 300, 'FlatMagicDamageMod': 75}"
147,3152,Hextech Protobelt-01,"[Health, SpellDamage, Active, CooldownReduction]","{'FlatHPPoolMod': 300, 'FlatMagicDamageMod': 60}"
151,3157,Zhonya's Hourglass,"[Armor, SpellDamage, Active, CooldownReduction]","{'FlatMagicDamageMod': 75, 'FlatArmorMod': 45}"
154,3165,Morellonomicon,"[Health, SpellDamage, MagicPenetration]","{'FlatHPPoolMod': 300, 'FlatMagicDamageMod': 70}"
155,3170,Moonflair Spellblade,"[Armor, SpellBlock, SpellDamage, Tenacity]","{'FlatSpellBlockMod': 50, 'FlatMagicDamageMod'..."
157,3174,Athene's Unholy Grail,"[SpellBlock, HealthRegen, SpellDamage, ManaReg...","{'FlatSpellBlockMod': 30, 'FlatMagicDamageMod'..."
163,3191,Seeker's Armguard,"[Armor, SpellDamage]","{'FlatMagicDamageMod': 20, 'FlatArmorMod': 30}"
166,3196,Hex Core mk-1,"[Mana, SpellDamage]",{}
167,3197,Hex Core mk-2,"[Mana, SpellDamage]",{}
168,3198,Perfect Hex Core,"[Mana, SpellDamage]",{}
172,3285,Luden's Echo,"[SpellDamage, Mana, CooldownReduction, OnHit]","{'FlatMPPoolMod': 600, 'FlatMagicDamageMod': 90}"
182,3374,Rabadon's Deathcrown,[SpellDamage],{'FlatMagicDamageMod': 175}
188,3386,Zhonya's Paradox,"[Armor, SpellDamage, Active, CooldownReduction]","{'FlatMagicDamageMod': 100, 'FlatArmorMod': 60}"
192,3390,Luden's Pulse,"[SpellDamage, Mana, CooldownReduction, OnHit]","{'FlatMPPoolMod': 850, 'FlatMagicDamageMod': 120}"
198,3504,Ardent Censer,"[CooldownReduction, ManaRegen, NonbootsMovemen...",{'FlatMagicDamageMod': 60}
228,3802,Lost Chapter,"[SpellDamage, Mana, ManaRegen, CooldownReduction]","{'FlatMPPoolMod': 300, 'FlatMagicDamageMod': 40}"
231,3850,Spellthief's Edge,"[Health, SpellDamage, ManaRegen, Vision, GoldP...","{'FlatHPPoolMod': 10, 'FlatMagicDamageMod': 8}"
232,3851,Frostfang,"[GoldPer, Lane, ManaRegen, SpellDamage]","{'FlatHPPoolMod': 70, 'FlatMagicDamageMod': 15}"
233,3853,Shard of True Ice,"[GoldPer, Lane, ManaRegen, SpellDamage]","{'FlatHPPoolMod': 100, 'FlatMagicDamageMod': 50}"
237,3858,Relic Shield,"[Health, HealthRegen, SpellDamage, Vision, Gol...","{'FlatHPPoolMod': 30, 'FlatMagicDamageMod': 5}"
246,3905,Twin Shadows,"[SpellDamage, Active, CooldownReduction, Slow,...","{'PercentMovementSpeedMod': 0.07, 'FlatMagicDa..."
247,3907,Spellbinder,"[SpellDamage, Active, NonbootsMovement]","{'PercentMovementSpeedMod': 0.1, 'FlatMagicDam..."
248,3916,Oblivion Orb,"[Health, MagicPenetration, SpellDamage]","{'FlatHPPoolMod': 200, 'FlatMagicDamageMod': 20}"
259,4203,Doran's Lost Ring,"[Health, Lane, ManaRegen, SpellDamage]","{'FlatHPPoolMod': 60, 'FlatMagicDamageMod': 15}"
260,4204,Doran's Lost Idol,"[SpellDamage, ManaRegen, Lane]",{'FlatMagicDamageMod': 10}
263,4403,The Golden Spatula,"[Health, SpellBlock, HealthRegen, Armor, Damag...","{'FlatPhysicalDamageMod': 70, 'FlatCritChanceM..."

In [7]:
apItemsList = apItems['id'].to_list()
print(apItemsList)

['1026', '1052', '1056', '1058', '1082', '2139', '3003', '3007', '3027', '3029', '3030', '3041', '3089', '3100', '3102', '3108', '3112', '3113', '3115', '3116', '3124', '3128', '3135', '3136', '3145', '3146', '3151', '3152', '3157', '3165', '3170', '3174', '3191', '3196', '3197', '3198', '3285', '3374', '3386', '3390', '3504', '3802', '3850', '3851', '3853', '3858', '3905', '3907', '3916', '4203', '4204', '4403']

In [8]:
with open(filePath+'runesReforged.json', encoding='utf8') as f:
    runeData = json.load(f)

runes = pd.DataFrame(columns = ['id', 'name', 'slot', 'tree'])

for v1 in runeData:
    tree = v1['name']
    for i in range(len(v1['slots'])):
        slot = i
        for v2 in v1['slots'][i]['runes']:
            # print(v2['name'])
            runes = runes.append({'id': v2['id'],
                            'name': v2['name'], 
                            'slot': slot,
                            'tree': tree
                            }, ignore_index=True )

# runes.head()
runes

      id             name slot        tree
0   8112      Electrocute    0  Domination
1   8124         Predator    0  Domination
2   8128     Dark Harvest    0  Domination
3   9923   Hail of Blades    0  Domination
4   8126       Cheap Shot    1  Domination
..   ...              ...  ...         ...
58  8234         Celerity    2     Sorcery
59  8233   Absolute Focus    2     Sorcery
60  8237           Scorch    3     Sorcery
61  8232     Waterwalking    3     Sorcery
62  8236  Gathering Storm    3     Sorcery

[63 rows x 4 columns]

In [9]:
import asyncpg
import nest_asyncio
import asyncio
from config import dbConfig

nest_asyncio.apply()
loop = asyncio.get_event_loop()

In [10]:
squishyChamps = champions[['championId', 'name', 'attack', 'defense', 'magic', 'hp', 'hpperlevel', 'armor', 'armorperlevel', 'spellblock', 'spellblockperlevel', 'hpregen', 'hpregenperlevel']]

In [11]:
squishyChamps['spellblock_18'] = squishyChamps['spellblock'] + squishyChamps['spellblockperlevel'] * 17
squishyChamps['armor_18'] = squishyChamps['armor'] + squishyChamps['spellblockperlevel'] * 17
squishyChamps['hp_18'] = squishyChamps['hp'] + squishyChamps['hpperlevel'] * 17
# squishyChamps['Mr_Def'] = squishyChamps['spellblock_18'] * squishyChamps['defense']
squishyChamps['MReffectiveHP'] = squishyChamps['hp_18'] * (squishyChamps['spellblock_18'] + 100)/100 #* squishyChamps['defense']
squishyChamps['ArmorEffectiveHP'] = squishyChamps['hp_18'] * (squishyChamps['armor_18'] + 100)/100 #* squishyChamps['defense']

squishyChamps[['name', 'defense', 'hp', 'hpperlevel', 'hp_18', 'spellblock', 'spellblockperlevel', 'spellblock_18', 'MReffectiveHP', 'ArmorEffectiveHP']].sort_values(axis=0, ascending=True, by='MReffectiveHP').head(60)

,name,defense,hp,hpperlevel,hp_18,spellblock,spellblockperlevel,spellblock_18,MReffectiveHP,ArmorEffectiveHP
143,Yuumi,1,480,70,1670,25.0,0.30,30.10,2172.67,2172.67
34,Gnar,5,510,65,1615,30.0,0.50,38.50,2236.78,2269.07
42,Janna,5,500,70,1690,30.0,0.50,38.50,2340.65,2306.85
59,Kled,2,340,70,1530,32.1,1.25,53.35,2346.26,2390.62
77,Nami,3,475,74,1733,30.0,0.50,38.50,2400.2,2382.88
67,Lulu,5,525,74,1783,30.0,0.50,38.50,2469.45,2451.62
110,Sona,2,482.36,77,1791.36,30.0,0.50,38.50,2481.03,2445.21
111,Soraka,5,535,74,1793,30.0,0.50,38.50,2483.3,2519.16
101,Senna,2,520,75,1795,30.0,0.50,38.50,2486.07,2450.18
149,Zyra,3,504,79,1847,30.0,0.50,38.50,2558.09,2539.62
5,Anivia,4,480,82,1874,30.0,0.50,38.50,2595.49,2430.95
147,Zilean,5,504,82,1898,30.0,0.50,38.50,2628.73,2514.85
68,Lux,4,490,85,1935,30.0,0.50,38.50,2679.97,2461.71
38,Heimerdinger,6,488,87,1967,30.0,0.50,38.50,2724.3,2508.71
7,Aphelios,2,530,88,2026,26.0,0.50,34.50,2724.97,2765.49
56,Kennen,4,541,84,1969,30.0,0.50,38.50,2727.07,2707.38
112,Swain,6,525,85,1970,30.0,0.50,38.50,2728.45,2585.03
107,Sion,9,545,73,1786,32.1,1.25,53.35,2738.83,2737.05
91,Quinn,4,532.8,85,1977.8,30.0,0.50,38.50,2739.25,2699.7
58,Kindred,2,540,85,1985,30.0,0.50,38.50,2749.22,2729.38
81,Nidalee,4,545,85,1990,30.0,0.50,38.50,2756.15,2716.35
19,Corki,3,518,87,1997,30.0,0.50,38.50,2765.84,2725.91
13,Brand,2,519.68,88,2015.68,30.0,0.50,38.50,2791.72,2628.04
131,Vel'Koz,2,520,88,2016,30.0,0.50,38.50,2792.16,2628.46
70,Malzahar,2,537,87,2016,30.0,0.50,38.50,2792.16,2550.24
85,Orianna,3,530,91,2077,26.0,0.50,34.50,2793.57,2607.47
6,Annie,3,524,88,2020,30.0,0.50,38.50,2797.7,2579.94
27,Ezreal,2,530,88,2026,30.0,0.50,38.50,2806.01,2643.93
129,Vayne,1,515,89,2028,30.0,0.50,38.50,2808.78,2666.82
51,Karthus,2,550,87,2029,30.0,0.50,38.50,2810.16,2625.12
66,Lucian,5,571,86,2033,30.0,0.50,38.50,2815.7,2775.05
8,Ashe,3,570,87,2049,30.0,0.50,38.50,2837.86,2755.91
114,Syndra,3,523,90,2053,30.0,0.50,38.50,2843.41,2734.84
121,Tristana,3,559,88,2055,30.0,0.50,38.50,2846.18,2763.97
119,Teemo,3,528,90,2058,30.0,0.50,38.50,2850.33,2733.02
133,Viktor,4,530,90,2060,30.0,0.50,38.50,2853.1,2708.9
116,Taliyah,7,532,90,2062,30.0,0.50,38.50,2855.87,2649.67
80,Neeko,1,540,90,2070,30.0,0.50,38.50,2866.95,2680.65
47,Jinx,2,610,86,2072,30.0,0.50,38.50,2869.72,2828.28
11,Bard,4,560,89,2073,30.0,0.50,38.50,2871.11,2954.03
125,Twitch,2,612,86,2074,30.0,0.50,38.50,2872.49,2810.27
128,Varus,3,530,91,2077,30.0,0.50,38.50,2876.64,2814.34
65,Lissandra,5,550,90,2080,30.0,0.50,38.50,2880.8,2714.4
137,Xayah,6,590,88,2086,30.0,0.50,38.50,2889.11,2784.81
138,Xerath,3,526,92,2090,30.0,0.50,38.50,2894.65,2724.94
45,Jayce,4,560,90,2090,30.0,0.50,38.50,2894.65,2831.95
1,Ahri,4,526,92,2090,30.0,0.50,38.50,2894.65,2704.04
76,Morgana,6,560,90,2090,30.0,0.50,38.50,2894.65,2790.15
15,Caitlyn,2,510,93,2091,30.0,0.50,38.50,2896.03,2854.22
108,Sivir,3,562,90,2092,30.0,0.50,38.50,2897.42,2813.74
61,LeBlanc,4,528,92,2092,30.0,0.50,38.50,2897.42,2727.55
60,Kog'Maw,2,565,90,2095,30.0,0.50,38.50,2901.57,2775.88
48,Kai'Sa,5,600,88,2096,30.0,0.50,38.50,2902.96,2861.04
146,Ziggs,4,536,92,2100,30.0,0.50,38.50,2908.5,2730.92
54,Kayle,6,600,85,2045,34.0,0.50,42.50,2914.12,2750.53
52,Kassadin,5,576,90,2106,30.0,0.50,38.50,2916.81,2685.15
25,Elise,5,534,93,2115,30.0,0.50,38.50,2929.28,2865.82
10,Azir,3,552,92,2116,30.0,0.50,38.50,2930.66,2698.75
17,Cassiopeia,3,560,90,2090,32.0,0.50,40.50,2936.45,2643.85
82,Nocturne,5,585,85,2030,32.1,0.75,44.85,2940.45,3060.22

In [12]:
squishyChamps.dtypes

championId             object
name                   object
attack                 object
defense                object
magic                  object
hp                     object
hpperlevel             object
armor                  object
armorperlevel         float64
spellblock            float64
spellblockperlevel    float64
hpregen                object
hpregenperlevel        object
spellblock_18         float64
armor_18               object
hp_18                  object
MReffectiveHP          object
ArmorEffectiveHP       object
dtype: object

In [13]:
squishyChamps['MReffectiveHP'].astype('float').quantile([.25, .5, .75])

0.25    2867.6425
0.50    3007.9295
0.75    3235.6850
Name: MReffectiveHP, dtype: float64

In [14]:
squishyChampNames = ['Ahri', 'Annie', 'Aphelios', 'Ashe', 'Aurelion Sol', 'Azir', 'Bard', 'Caitlyn', 'Cassiopeia', 'Corki', 'Draven', 'Ekko', 'Elise', 'Evelynn', 'Ezreal', 'Fizz', 'Gangplank', 'Heimerdinger', 'Janna', 'Jayce', 'Jhin', 'Jinx', "Kai'Sa", 'Kalista', 'Karma', 'Karthus', 'Kassadin', 'Kayle', 'Kayn', 'Kennen', "Kha'Zix", 'Kindred', "Kog'Maw", 'LeBlanc', 'Lillia', 'Lucian', 'Lulu', 'Lux', 'Miss Fortune', 'Morgana', 'Nami', 'Neeko', 'Nidalee', 'Orianna', 'Pyke', 'Qiyana', 'Quinn', 'Rengar', 'Senna', 'Shaco', 'Sivir', 'Sona', 'Soraka', 'Syndra', 'Taliyah', 'Talon', 'Teemo', 'Tristana', 'Twisted Fate', 'Twitch', 'Varus', 'Vayne', 'Veigar', "Vel'Koz", 'Viktor', 'Xayah', 'Xerath', 'Yasuo', 'Yone', 'Yuumi', 'Zed', 'Ziggs', 'Zilean', 'Zoe', 'Zyra']
squishyChampIds = [champions.loc[champions["name"] == name, "championId"].values[0] for name in squishyChampNames]
print(squishyChampNames)
print(squishyChampIds)

['Ahri', 'Annie', 'Aphelios', 'Ashe', 'Aurelion Sol', 'Azir', 'Bard', 'Caitlyn', 'Cassiopeia', 'Corki', 'Draven', 'Ekko', 'Elise', 'Evelynn', 'Ezreal', 'Fizz', 'Gangplank', 'Heimerdinger', 'Janna', 'Jayce', 'Jhin', 'Jinx', "Kai'Sa", 'Kalista', 'Karma', 'Karthus', 'Kassadin', 'Kayle', 'Kayn', 'Kennen', "Kha'Zix", 'Kindred', "Kog'Maw", 'LeBlanc', 'Lillia', 'Lucian', 'Lulu', 'Lux', 'Miss Fortune', 'Morgana', 'Nami', 'Neeko', 'Nidalee', 'Orianna', 'Pyke', 'Qiyana', 'Quinn', 'Rengar', 'Senna', 'Shaco', 'Sivir', 'Sona', 'Soraka', 'Syndra', 'Taliyah', 'Talon', 'Teemo', 'Tristana', 'Twisted Fate', 'Twitch', 'Varus', 'Vayne', 'Veigar', "Vel'Koz", 'Viktor', 'Xayah', 'Xerath', 'Yasuo', 'Yone', 'Yuumi', 'Zed', 'Ziggs', 'Zilean', 'Zoe', 'Zyra']
[103, 1, 523, 22, 136, 268, 432, 51, 69, 42, 119, 245, 60, 28, 81, 105, 41, 74, 40, 126, 202, 222, 145, 429, 43, 30, 38, 10, 141, 85, 121, 203, 96, 7, 876, 236, 117, 99, 21, 25, 267, 518, 76, 61, 555, 246, 133, 107, 235, 35, 15, 37, 16, 134, 163, 91, 17, 18, 4, 29, 110, 67, 45, 161, 112, 498, 101, 157, 777, 350, 238, 115, 26, 142, 143]

In [15]:
# import itertools
# champNameCombo = list(itertools.combinations(champions['name'], 2))
# print(champNameCombo[0])

# champIdCombinations = list(itertools.combinations(champions['championId'], 2))
# champIdCombinations

In [16]:
async def fetch_as_dataframe(con: asyncpg.Connection, query: str, *args):
    stmt = await con.prepare(query)
    columns = [a.name for a in stmt.get_attributes()]
    data = await stmt.fetch()
    return pd.DataFrame(data, columns=columns)

async def run():
    connection = await asyncpg.connect(user=dbConfig['user'],
                                password=dbConfig['password'],
                                host=dbConfig['host'],
                                port=dbConfig['port'],
                                database=dbConfig['database'])
    async with connection.transaction():
        kaisaQuery = f'SELECT "gameId", "championId", "teamColor", "win", "item0", \
                                "item1", "item2", "item3", "item4", "item5" \
                    FROM "Participant_Stats" \
                    WHERE "gameId" = ANY( \
                        (SELECT array (SELECT "gameId" FROM "Participant_Stats"\
                                        WHERE "championId" = 145 \
                                        ) \
                                        )::BIGINT[] \
                                        ) \
                    ORDER BY "gameId" ASC;'
        kaisaGames_df = await fetch_as_dataframe(connection, kaisaQuery)
    return kaisaGames_df

kaisaGames_df = loop.run_until_complete(run())
kaisaGames_df

,gameId,championId,teamColor,win,item0,item1,item2,item3,item4,item5
0,2856437506,29,Red,True,3085,3095,3087,3072,3031,0
1,2856437506,107,Blue,False,3142,3111,3147,3095,3044,3057
2,2856437506,31,Blue,False,3029,3111,3065,3083,3135,1058
3,2856437506,67,Blue,False,3072,3095,2015,3006,3087,3086
4,2856437506,268,Red,True,3020,3115,3116,3135,3165,1058
...,...,...,...,...,...,...,...,...,...,...
1586285,3588231162,39,Blue,False,3078,3111,3053,3211,3067,0
1586286,3588231162,10,Red,True,3124,3146,3006,3115,1058,0
1586287,3588231162,30,Blue,False,3029,3020,3135,3089,1026,1052
1586288,3588231162,17,Red,True,3285,3020,3151,3165,1026,1052
1586289,3588231162,92,Blue,False,3071,3111,3812,3155,3133,0

In [17]:
allKaisaGames_df = kaisaGames_df[(kaisaGames_df['championId'] == 145)]
allKaisaGames = allKaisaGames_df[['gameId', 'win']].groupby(['gameId']).agg(['sum'])['win']
allKaisaGames

            sum
gameId
2856437506    1
2857259300    1
2857364171    0
2857791625    0
2860305268    0
...         ...
3587791787    1
3587921963    0
3587953458    1
3587954814    0
3588231162    1

[158629 rows x 1 columns]

In [18]:
kaisaWR = allKaisaGames['sum'].astype(bool).sum(axis=0)/len(allKaisaGames.index)

print(f"kaisaWR: {kaisaWR:.5f} [{allKaisaGames['sum'].astype(bool).sum(axis=0)} / {len(allKaisaGames.index)}]")

kaisaWR: 0.48011 [76160 / 158629]

In [19]:
apKaisa = kaisaGames_df[(kaisaGames_df['championId'] == 145)]
apKaisa['isAP'] = (apKaisa['item0'].isin(apItemsList) | \
                                apKaisa['item1'].isin(apItemsList) | \
                                apKaisa['item2'].isin(apItemsList) | \
                                apKaisa['item3'].isin(apItemsList) | \
                                apKaisa['item4'].isin(apItemsList) | \
                                apKaisa['item5'].isin(apItemsList))
adKaisa = apKaisa[(apKaisa['championId'] == 145) & (apKaisa['isAP'] == False)]
apKaisa = apKaisa[(apKaisa['championId'] == 145) & (apKaisa['isAP'] == True)]
apKaisa['isAPKaisaTeam'] = True
apKaisa

,gameId,championId,teamColor,win,item0,item1,item2,item3,item4,item5,isAP,isAPKaisaTeam
9,2856437506,145,Red,True,3124,3100,3020,3285,3115,0,True,True
16,2857259300,145,Red,True,3285,3916,3020,3089,3124,3115,True,True
23,2857364171,145,Blue,False,3100,2031,3285,3020,3089,1026,True,True
37,2857791625,145,Blue,False,3124,2031,3146,1043,1036,0,True,True
44,2860305268,145,Blue,False,3095,3124,3031,3006,3085,3153,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1586249,3587791787,145,Blue,True,3157,1058,3115,3124,3006,3043,True,True
1586252,3587921963,145,Blue,False,3285,3020,3089,3100,3136,0,True,True
1586261,3587953458,145,Blue,True,3285,3124,3115,1038,1037,3006,True,True
1586271,3587954814,145,Blue,False,3285,3108,3151,3020,0,0,True,True
1586281,3588231162,145,Red,True,3043,3006,2003,3124,3115,1058,True,True

In [20]:
allADKaisaGames = adKaisa[['gameId', 'win']].groupby(['gameId']).agg(['sum'])['win']
allADKaisaGames

            sum
gameId
2868144891    0
2871228735    0
2873667374    1
2875457804    0
2876193858    0
...         ...
3586755290    1
3586790449    1
3586913900    0
3587046006    0
3587624644    1

[7251 rows x 1 columns]

In [21]:
adKaisaWR = allADKaisaGames['sum'].astype(bool).sum(axis=0)/len(allADKaisaGames.index)

print(f"adKaisaWR: {adKaisaWR:.5f} [{allADKaisaGames['sum'].astype(bool).sum(axis=0)} / {len(allADKaisaGames.index)}]")

adKaisaWR: 0.43484 [3153 / 7251]

In [22]:
allAPKaisaGames = apKaisa[['gameId', 'win']].groupby(['gameId']).agg(['sum'])['win']
allAPKaisaGames

            sum
gameId
2856437506    1
2857259300    1
2857364171    0
2857791625    0
2860305268    0
...         ...
3587791787    1
3587921963    0
3587953458    1
3587954814    0
3588231162    1

[151378 rows x 1 columns]

In [23]:
apKaisaWR = allAPKaisaGames['sum'].astype(bool).sum(axis=0)/len(allAPKaisaGames.index)

print(f"apKaisaWR: {apKaisaWR:.5f} [{allAPKaisaGames['sum'].astype(bool).sum(axis=0)} / {len(allAPKaisaGames.index)}]")

apKaisaWR: 0.48228 [73007 / 151378]

In [24]:
apKaisaGames = pd.merge(kaisaGames_df, apKaisa[['gameId', 'teamColor', 'isAPKaisaTeam']], how='left', left_on=['gameId', 'teamColor'], right_on=['gameId', 'teamColor']).fillna(False)
apKaisaGames

,gameId,championId,teamColor,win,item0,item1,item2,item3,item4,item5,isAPKaisaTeam
0,2856437506,29,Red,True,3085,3095,3087,3072,3031,0,True
1,2856437506,107,Blue,False,3142,3111,3147,3095,3044,3057,False
2,2856437506,31,Blue,False,3029,3111,3065,3083,3135,1058,False
3,2856437506,67,Blue,False,3072,3095,2015,3006,3087,3086,False
4,2856437506,268,Red,True,3020,3115,3116,3135,3165,1058,True
...,...,...,...,...,...,...,...,...,...,...,...
1586285,3588231162,39,Blue,False,3078,3111,3053,3211,3067,0,False
1586286,3588231162,10,Red,True,3124,3146,3006,3115,1058,0,True
1586287,3588231162,30,Blue,False,3029,3020,3135,3089,1026,1052,False
1586288,3588231162,17,Red,True,3285,3020,3151,3165,1026,1052,True
1586289,3588231162,92,Blue,False,3071,3111,3812,3155,3133,0,False

In [25]:
apKaisaGames['isSquishy'] = apKaisaGames['championId'].isin(squishyChampIds)
apKaisaGames

,gameId,championId,teamColor,win,item0,item1,item2,item3,item4,item5,isAPKaisaTeam,isSquishy
0,2856437506,29,Red,True,3085,3095,3087,3072,3031,0,True,True
1,2856437506,107,Blue,False,3142,3111,3147,3095,3044,3057,False,True
2,2856437506,31,Blue,False,3029,3111,3065,3083,3135,1058,False,False
3,2856437506,67,Blue,False,3072,3095,2015,3006,3087,3086,False,True
4,2856437506,268,Red,True,3020,3115,3116,3135,3165,1058,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1586285,3588231162,39,Blue,False,3078,3111,3053,3211,3067,0,False,False
1586286,3588231162,10,Red,True,3124,3146,3006,3115,1058,0,True,True
1586287,3588231162,30,Blue,False,3029,3020,3135,3089,1026,1052,False,True
1586288,3588231162,17,Red,True,3285,3020,3151,3165,1026,1052,True,True
1586289,3588231162,92,Blue,False,3071,3111,3812,3155,3133,0,False,False

In [26]:
noSquishiesGames = apKaisaGames.loc[(apKaisaGames['isAPKaisaTeam'] == True) & (apKaisaGames['isSquishy'] == False)]
noSquishiesGames

,gameId,championId,teamColor,win,item0,item1,item2,item3,item4,item5,isAPKaisaTeam,isSquishy
12,2857259300,31,Red,True,3029,3748,3193,3102,3083,3020,True,False
14,2857259300,9,Red,True,3020,3029,3157,3151,3065,1058,True,False
19,2857259300,59,Red,True,3147,3814,3142,3111,3095,3053,True,False
31,2857791625,86,Blue,False,3071,3111,3065,3156,0,0,True,False
33,2857791625,11,Blue,False,3031,3087,3006,1051,1042,0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1586256,3587921963,39,Blue,False,0,0,0,0,0,0,True,False
1586258,3587921963,63,Blue,False,3285,3020,3116,3151,3135,0,True,False
1586265,3587953458,8,Blue,True,3020,3152,3157,3067,1028,3089,True,False
1586282,3588231162,63,Red,True,3157,3020,3116,3135,3151,0,True,False
1586284,3588231162,150,Red,True,3181,3006,3124,3022,1042,1042,True,False

In [27]:
noSquishiesGames = noSquishiesGames[['gameId', 'win', 'isSquishy']].groupby(['gameId']).agg(['sum'])
noSquishiesGames

           win isSquishy
           sum       sum
gameId
2857259300   3         0
2857791625   0         0
2860305268   0         0
2860918669   0         0
2861731649   0         0
...         ..       ...
3587790379   2         0
3587791787   1         0
3587921963   0         0
3587953458   1         0
3588231162   2         0

[137387 rows x 2 columns]

In [28]:
apKaisaGames = apKaisaGames.loc[(apKaisaGames['isAPKaisaTeam'] == False) & (apKaisaGames['isSquishy'] == True)]
apKaisaGames

,gameId,championId,teamColor,win,item0,item1,item2,item3,item4,item5,isAPKaisaTeam,isSquishy
1,2856437506,107,Blue,False,3142,3111,3147,3095,3044,3057,False,True
3,2856437506,67,Blue,False,3072,3095,2015,3006,3087,3086,False,True
6,2856437506,91,Blue,False,3147,3074,3142,3158,3071,1053,False,True
10,2857259300,99,Blue,False,3285,3089,3020,3157,1026,3135,False,True
11,2857259300,30,Blue,False,3048,3020,3029,3102,3116,3083,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1586267,3587953458,117,Red,False,3100,3115,3504,3009,1006,1004,False,True
1586274,3587954814,202,Red,True,3031,3006,3094,2015,1018,0,False,True
1586276,3587954814,115,Red,True,3285,3020,3100,1058,0,0,False,True
1586283,3588231162,518,Blue,False,3285,3020,3048,3191,3108,0,False,True
1586287,3588231162,30,Blue,False,3029,3020,3135,3089,1026,1052,False,True

In [29]:
apKaisaGames = apKaisaGames[['gameId', 'win', 'isSquishy']].groupby(['gameId']).agg(['sum'])#[['win', 'isSupport']]
apKaisaGames

           win isSquishy
           sum       sum
gameId
2856437506   0         3
2857259300   0         4
2857364171   2         2
2857791625   3         3
2860305268   4         4
...         ..       ...
3587791787   0         3
3587921963   3         3
3587953458   0         2
3587954814   2         2
3588231162   0         2

[157593 rows x 2 columns]

In [30]:
noSquishies = noSquishiesGames[noSquishiesGames['isSquishy']['sum'] == 0]['win']
oneSquishies = apKaisaGames[apKaisaGames['isSquishy']['sum'] == 1]['win']
twoSquishies = apKaisaGames[apKaisaGames['isSquishy']['sum'] == 2]['win']
threeSquishies = apKaisaGames[apKaisaGames['isSquishy']['sum'] == 3]['win']
fourSquishies = apKaisaGames[apKaisaGames['isSquishy']['sum'] == 4]['win']
fiveSquishies = apKaisaGames[apKaisaGames['isSquishy']['sum'] == 5]['win']

noSquishiesWR = noSquishies['sum'].astype(bool).sum(axis=0)/len(noSquishiesGames.index)
oneSquishiesWR = (~oneSquishies['sum'].astype(bool)).sum(axis=0)/len(oneSquishies.index)
twoSquishiesWR = (~twoSquishies['sum'].astype(bool)).sum(axis=0)/len(twoSquishies.index)
threeSquishiesWR = (~threeSquishies['sum'].astype(bool)).sum(axis=0)/len(threeSquishies.index)
fourSquishiesWR = (~fourSquishies['sum'].astype(bool)).sum(axis=0)/len(fourSquishies.index)
fiveSquishiesWR = (~fiveSquishies['sum'].astype(bool)).sum(axis=0)/len(fiveSquishies.index)

In [31]:
from statsmodels.stats.proportion import proportion_confint

In [32]:
kaisaCI = proportion_confint(allKaisaGames['sum'].astype(bool).sum(axis=0), len(allKaisaGames.index), method='binom_test', alpha=0.05)
adKaisaCI = proportion_confint(allADKaisaGames['sum'].astype(bool).sum(axis=0), len(allADKaisaGames.index), method='binom_test', alpha=0.05)
apKaisaCI = proportion_confint(allAPKaisaGames['sum'].astype(bool).sum(axis=0), len(allAPKaisaGames.index), method='binom_test', alpha=0.05)

In [33]:
noSquishiesCI = proportion_confint(noSquishies['sum'].astype(bool).sum(axis=0), len(noSquishiesGames.index), method='binom_test', alpha=0.05)
oneSquishiesCI = proportion_confint((~oneSquishies['sum'].astype(bool)).sum(axis=0), len(oneSquishies.index), method='binom_test', alpha=0.05)
twoSquishiesCI = proportion_confint((~twoSquishies['sum'].astype(bool)).sum(axis=0), len(twoSquishies.index), method='binom_test', alpha=0.05)
threeSquishiesCI = proportion_confint((~threeSquishies['sum'].astype(bool)).sum(axis=0), len(threeSquishies.index), method='binom_test', alpha=0.05)
fourSquishiesCI = proportion_confint((~fourSquishies['sum'].astype(bool)).sum(axis=0), len(fourSquishies.index), method='binom_test', alpha=0.05)
fiveSquishiesCI = proportion_confint((~fiveSquishies['sum'].astype(bool)).sum(axis=0), len(fiveSquishies.index), method='binom_test', alpha=0.05)

In [35]:
print(f"kaisaWR: {kaisaWR:.5f} [{allKaisaGames['sum'].astype(bool).sum(axis=0)} / {len(allKaisaGames.index)}]")
print(f"adKaisaWR: {adKaisaWR:.5f} [{allADKaisaGames['sum'].astype(bool).sum(axis=0)} / {len(allADKaisaGames.index)}]")
print(f"apKaisaWR: {apKaisaWR:.5f} [{allAPKaisaGames['sum'].astype(bool).sum(axis=0)} / {len(allAPKaisaGames.index)}]")
print(f"noSquishiesWR: {noSquishiesWR:.5f} [{noSquishies['sum'].astype(bool).sum(axis=0)} / {len(noSquishies.index)}]")
print(f"oneSquishiesWR: {oneSquishiesWR:.5f} [{(~oneSquishies['sum'].astype(bool)).sum(axis=0)} / {len(oneSquishies.index)}]")
print(f"twoSquishiesWR: {twoSquishiesWR:.5f} [{(~twoSquishies['sum'].astype(bool)).sum(axis=0)} / {len(twoSquishies.index)}]")
print(f"threeSquishiesWR: {threeSquishiesWR:.5f} [{(~threeSquishies['sum'].astype(bool)).sum(axis=0)} / {len(threeSquishies.index)}]")
print(f"fourSquishiesWR: {fourSquishiesWR:.5f} [{(~fourSquishies['sum'].astype(bool)).sum(axis=0)} / {len(fourSquishies.index)}]")
print(f"fiveSquishiesWR: {fiveSquishiesWR:.5f} [{(~fiveSquishies['sum'].astype(bool)).sum(axis=0)} / {len(fiveSquishies.index)}]")

kaisaWR: 0.48011 [76160 / 158629]
adKaisaWR: 0.43484 [3153 / 7251]
apKaisaWR: 0.48228 [73007 / 151378]
noSquishiesWR: 0.48316 [66380 / 137387]
oneSquishiesWR: 0.48603 [5130 / 10555]
twoSquishiesWR: 0.47304 [17168 / 36293]
threeSquishiesWR: 0.47588 [27067 / 56878]
fourSquishiesWR: 0.48056 [18739 / 38994]
fiveSquishiesWR: 0.44848 [4422 / 9860]

In [36]:
print(f"95% CI: [{kaisaCI[0]:.6f}, {kaisaCI[1]:.6f}]")
print(f"95% CI: [{adKaisaCI[0]:.6f}, {adKaisaCI[1]:.6f}]")
print(f"95% CI: [{apKaisaCI[0]:.6f}, {apKaisaCI[1]:.6f}]")
print(f"95% CI: [{noSquishiesCI[0]:.6f}, {noSquishiesCI[1]:.6f}]")
print(f"95% CI: [{oneSquishiesCI[0]:.6f}, {oneSquishiesCI[1]:.6f}]")
print(f"95% CI: [{twoSquishiesCI[0]:.6f}, {twoSquishiesCI[1]:.6f}]")
print(f"95% CI: [{threeSquishiesCI[0]:.6f}, {threeSquishiesCI[1]:.6f}]")
print(f"95% CI: [{fourSquishiesCI[0]:.6f}, {fourSquishiesCI[1]:.6f}]")
print(f"95% CI: [{fiveSquishiesCI[0]:.6f}, {fiveSquishiesCI[1]:.6f}]")

95% CI: [0.477655, 0.482576]
95% CI: [0.423456, 0.446281]
95% CI: [0.479766, 0.484803]
95% CI: [0.480518, 0.485806]
95% CI: [0.476456, 0.495594]
95% CI: [0.467900, 0.478191]
95% CI: [0.471773, 0.479992]
95% CI: [0.475599, 0.485523]
95% CI: [0.438639, 0.458315]