In [1]:
import pandas as pd
import json
filePath = r"C:\\Users\\Pat\\Desktop\\Projects\\LoLAramPredictor\\Game Info\\"

In [2]:
with open(filePath+'champion.json', encoding='utf8') as f:
    championData = json.load(f)

champions = pd.DataFrame(columns = ['championId', 'name', 'attack', 'defense', 'magic', 'difficulty', 'primaryClass', 'secondaryClass', 'partype', 'hp', 'hpperlevel', 'mp', 'mpperlevel', 'movespeed', 'armor', 'armorperlevel', 'spellblock', 'spellblockperlevel', 'attackrange', 'hpregen', 'hpregenperlevel', 'mpregen', 'mpregenperlevel', 'crit', 'critperlevel', 'attackdamage', 'attackdamageperlevel', 'attackspeedperlevel', 'attackspeed'])

for k, v in championData['data'].items():
    champions = champions.append({'championId': int(v['key']),
                        'name': v['name'], 
                        'attack': v['info']['attack'], 
                        'defense': v['info']['defense'], 
                        'magic': v['info']['magic'], 
                        'difficulty': v['info']['difficulty'], 
                        'primaryClass': v['tags'][0], 
                        'secondaryClass': v['tags'][1] if len(v['tags']) > 1 else 'None', 
                        'partype': v['partype'], 
                        'hp': v['stats']['hp'], 
                        'hpperlevel': v['stats']['hpperlevel'], 
                        'mp': v['stats']['mp'], 
                        'mpperlevel': v['stats']['mpperlevel'], 
                        'movespeed': v['stats']['movespeed'], 
                        'armor': v['stats']['armor'], 
                        'armorperlevel': v['stats']['armorperlevel'], 
                        'spellblock': v['stats']['spellblock'], 
                        'spellblockperlevel': v['stats']['spellblockperlevel'], 
                        'attackrange': v['stats']['attackrange'], 
                        'hpregen': v['stats']['hpregen'], 
                        'hpregenperlevel': v['stats']['hpregenperlevel'], 
                        'mpregen': v['stats']['mpregen'], 
                        'mpregenperlevel': v['stats']['mpregenperlevel'], 
                        'crit': v['stats']['crit'], 
                        'critperlevel': v['stats']['critperlevel'], 
                        'attackdamage': v['stats']['attackdamage'], 
                        'attackdamageperlevel': v['stats']['attackdamageperlevel'], 
                        'attackspeedperlevel': v['stats']['attackspeedperlevel'], 
                        'attackspeed': v['stats']['attackspeed']}, ignore_index=True)

champions

,championId,name,attack,defense,magic,difficulty,primaryClass,secondaryClass,partype,hp,...,hpregen,hpregenperlevel,mpregen,mpregenperlevel,crit,critperlevel,attackdamage,attackdamageperlevel,attackspeedperlevel,attackspeed
0,266,Aatrox,8,4,3,4,Fighter,Tank,Blood Well,580,...,3,1,0,0,0,0,60,5,2.500,0.651
1,103,Ahri,3,4,8,5,Mage,Assassin,Mana,526,...,6.5,0.6,8,0.8,0,0,53.04,3,2.000,0.668
2,84,Akali,5,3,8,7,Assassin,None,Energy,575,...,8,0.5,50,0,0,0,62.4,3.3,3.200,0.625
3,12,Alistar,6,9,5,7,Tank,Support,Mana,600,...,8.5,0.85,8.5,0.8,0,0,62,3.75,2.125,0.625
4,32,Amumu,2,6,8,3,Tank,Mage,Mana,613.12,...,9,0.85,7.382,0.525,0,0,53.38,3.8,2.180,0.736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,238,Zed,9,2,1,7,Assassin,None,Energy,584,...,7,0.65,50,0,0,0,63,3.4,3.300,0.651
146,115,Ziggs,2,4,9,4,Mage,None,Mana,536,...,6.5,0.6,8,0.8,0,0,54.208,3.1,2.000,0.656
147,26,Zilean,2,5,8,6,Support,Mage,Mana,504,...,5.5,0.5,11.335,0.8,0,0,51.64,3,2.130,0.625
148,142,Zoe,1,7,8,5,Mage,Support,Mana,560,...,6.5,0.6,8,0.65,0,0,58,3.3,2.500,0.625
149,143,Zyra,4,3,8,7,Mage,Support,Mana,504,...,5.5,0.5,13,0.4,0,0,53.376,3.2,2.110,0.625

In [3]:
champions.loc[(champions['primaryClass'] == 'Marksman') | (champions['secondaryClass'] == 'Marksman'), 'name'].to_list()

['Aphelios',
 'Ashe',
 'Azir',
 'Caitlyn',
 'Corki',
 'Draven',
 'Ezreal',
 'Graves',
 'Jayce',
 'Jhin',
 'Jinx',
 "Kai'Sa",
 'Kalista',
 'Kennen',
 'Kindred',
 "Kog'Maw",
 'Lucian',
 'Miss Fortune',
 'Quinn',
 'Senna',
 'Sivir',
 'Teemo',
 'Tristana',
 'Twitch',
 'Varus',
 'Vayne',
 'Xayah']

In [4]:
ADCs=['Aphelios', 'Ashe', 'Caitlyn', 'Corki', 'Draven', 'Ezreal', 'Graves', 'Jhin', 'Jinx', "Kai'Sa", 'Kalista', 'Kindred', "Kog'Maw", 'Lucian', 'Miss Fortune', 'Quinn', 'Senna', 'Sivir', 'Tristana', 'Twitch', 'Varus', 'Vayne', 'Xayah']

adcIds = [str(champions.loc[champions['name'] == adc, 'championId'].values[0]) for adc in ADCs]
print(adcIds)

['523', '22', '51', '42', '119', '81', '104', '202', '222', '145', '429', '203', '96', '236', '21', '133', '235', '15', '18', '29', '110', '67', '498']

In [5]:
import asyncpg
import nest_asyncio
import asyncio
from config import dbConfig

nest_asyncio.apply()
loop = asyncio.get_event_loop()

In [6]:
async def fetch_as_dataframe(con: asyncpg.Connection, query: str, *args):
    stmt = await con.prepare(query)
    columns = [a.name for a in stmt.get_attributes()]
    data = await stmt.fetch()
    return pd.DataFrame(data, columns=columns)

async def run():
    connection = await asyncpg.connect(user=dbConfig['user'],
                                password=dbConfig['password'],
                                host=dbConfig['host'],
                                port=dbConfig['port'],
                                database=dbConfig['database'])
    async with connection.transaction():
        adcQuery = f'SELECT "gameId", "championId", "teamColor", "win" \
                    FROM "Participant_Stats" \
                    WHERE "championId" IN ({" ,".join(adcIds)}) \
                    ORDER BY "gameId" ASC;'
        noADCQuery = f'SELECT "gameId", "championId", "teamColor", "win" \
                    FROM "Participant_Stats" \
                    WHERE "championId" NOT IN ({" ,".join(adcIds)}) \
                    ORDER BY "gameId" ASC;'
        adcGames_df = await fetch_as_dataframe(connection, adcQuery)
        noADCGames_df = await fetch_as_dataframe(connection, noADCQuery)
    return (adcGames_df, noADCGames_df)

adcGames_df, noADCGames_df = loop.run_until_complete(run())
noADCGames_df

              gameId  championId teamColor    win
0         2855142709         122      Blue  False
1         2855142709          75      Blue  False
2         2855142709          20      Blue  False
3         2855142709         267       Red   True
4         2855142709         117       Red   True
...              ...         ...       ...    ...
12599939  3588420238          39       Red   True
12599940  3588420238          84      Blue  False
12599941  3588420238         143       Red   True
12599942  3588420238         126      Blue  False
12599943  3588420238         106      Blue  False

[12599944 rows x 4 columns]

In [7]:
noADCGames = noADCGames_df[['gameId', 'teamColor', 'win']].groupby(['gameId', 'teamColor']).agg(['sum','count'])['win']
noADCGames

                      sum  count
gameId     teamColor
2855142709 Blue         0      3
           Red          3      3
2856401827 Blue         4      4
           Red          0      5
2856437506 Blue         0      4
...                   ...    ...
3588313005 Red          4      4
3588365616 Blue         0      3
           Red          5      5
3588420238 Blue         0      4
           Red          3      3

[3241596 rows x 2 columns]

In [8]:
noADC = noADCGames[noADCGames['count'] == 5]
noADCWR = noADC['sum'].astype(bool).sum(axis=0)/noADC['count'].count()
print(f"noADCWR: {noADCWR:.5f} [{noADC['sum'].astype(bool).sum(axis=0)} / {noADC['count'].count()}]")
noADC

noADCWR: 0.46122 [358570 / 777436]

                      sum  count
gameId     teamColor
2856401827 Red          0      5
2856474922 Red          0      5
2856481325 Blue         0      5
2856486557 Blue         0      5
           Red          5      5
...                   ...    ...
3588272331 Blue         0      5
           Red          5      5
3588282140 Blue         5      5
3588297793 Blue         5      5
3588365616 Red          5      5

[777436 rows x 2 columns]

In [9]:
adcGames = adcGames_df[['gameId', 'teamColor', 'win']].groupby(['gameId', 'teamColor']).agg(['sum','count'])['win']
adcGames

                      sum  count
gameId     teamColor
2855142709 Blue         0      2
           Red          2      2
2856401827 Blue         1      1
2856437506 Blue         0      1
           Red          3      3
...                   ...    ...
3588313005 Blue         0      1
           Red          1      1
3588365616 Blue         0      2
3588420238 Blue         0      1
           Red          2      2

[2464892 rows x 2 columns]

In [10]:
from statsmodels.stats.proportion import proportion_confint

In [11]:
oneADC = adcGames[adcGames['count'] == 1]
twoADC = adcGames[adcGames['count'] == 2]
threeADC = adcGames[adcGames['count'] == 3]
fourADC = adcGames[adcGames['count'] == 4]
fiveADC = adcGames[adcGames['count'] == 5]
atLeastOneADC = adcGames[adcGames['count'] >= 1]
twoOrMoreADC = adcGames[adcGames['count'] >= 2]
threeOrMoreADC = adcGames[adcGames['count'] >= 3]
fourOrMoreADC = adcGames[adcGames['count'] >= 4]

oneADCWR = oneADC['sum'].astype(bool).sum(axis=0)/oneADC['count'].count()
twoADCWR = twoADC['sum'].astype(bool).sum(axis=0)/twoADC['count'].count()
threeADCWR = threeADC['sum'].astype(bool).sum(axis=0)/threeADC['count'].count()
fourADCWR = fourADC['sum'].astype(bool).sum(axis=0)/fourADC['count'].count()
fiveADCWR = fiveADC['sum'].astype(bool).sum(axis=0)/fiveADC['count'].count()
atLeastOneADCWR = atLeastOneADC['sum'].astype(bool).sum(axis=0)/atLeastOneADC['count'].count()
twoOrMoreADCWR = twoOrMoreADC['sum'].astype(bool).sum(axis=0)/twoOrMoreADC['count'].count()
threeOrMoreADCWR = threeOrMoreADC['sum'].astype(bool).sum(axis=0)/threeOrMoreADC['count'].count()
fourOrMoreADCWR = fourOrMoreADC['sum'].astype(bool).sum(axis=0)/fourOrMoreADC['count'].count()

noADCCI = proportion_confint(noADC['sum'].astype(bool).sum(axis=0), noADC['count'].count(), method='binom_test', alpha=0.05)
oneADCCI = proportion_confint(oneADC['sum'].astype(bool).sum(axis=0), oneADC['count'].count(), method='binom_test', alpha=0.05)
twoADCCI = proportion_confint(twoADC['sum'].astype(bool).sum(axis=0), twoADC['count'].count(), method='binom_test', alpha=0.05)
threeADCCI = proportion_confint(threeADC['sum'].astype(bool).sum(axis=0), threeADC['count'].count(), method='binom_test', alpha=0.05)
fourADCCI = proportion_confint(fourADC['sum'].astype(bool).sum(axis=0), fourADC['count'].count(), method='binom_test', alpha=0.05)
fiveADCCI = proportion_confint(fiveADC['sum'].astype(bool).sum(axis=0), fiveADC['count'].count(), method='binom_test', alpha=0.05)
atLeastOneADCCI = proportion_confint(atLeastOneADC['sum'].astype(bool).sum(axis=0), atLeastOneADC['count'].count(), method='binom_test', alpha=0.05)
twoOrMoreADCCI = proportion_confint(twoOrMoreADC['sum'].astype(bool).sum(axis=0), twoOrMoreADC['count'].count(), method='binom_test', alpha=0.05)
threeOrMoreADCCI = proportion_confint(threeOrMoreADC['sum'].astype(bool).sum(axis=0), threeOrMoreADC['count'].count(), method='binom_test', alpha=0.05)
fourOrMoreADCCI = proportion_confint(fourOrMoreADC['sum'].astype(bool).sum(axis=0), fourOrMoreADC['count'].count(), method='binom_test', alpha=0.05)

In [12]:
print(f"noADCWR: {noADCWR:.5f} [{noADC['sum'].astype(bool).sum(axis=0)} / {noADC['count'].count()}]")
print(f"oneADCWR: {oneADCWR:.5f} [{oneADC['sum'].astype(bool).sum(axis=0)} / {oneADC['count'].count()}]")
print(f"twoADCWR: {twoADCWR:.5f} [{twoADC['sum'].astype(bool).sum(axis=0)} / {twoADC['count'].count()}]")
print(f"threeADCWR: {threeADCWR:.5f} [{threeADC['sum'].astype(bool).sum(axis=0)} / {threeADC['count'].count()}]")
print(f"fourADCWR: {fourADCWR:.5f} [{fourADC['sum'].astype(bool).sum(axis=0)} / {fourADC['count'].count()}]")
print(f"fiveADCWR: {fourADCWR:.5f} [{fiveADC['sum'].astype(bool).sum(axis=0)} / {fiveADC['count'].count()}]")
print(f"atLeastOneADCWR: {atLeastOneADCWR:.5f} [{atLeastOneADC['sum'].astype(bool).sum(axis=0)} / {atLeastOneADC['count'].count()}]")
print(f"twoOrMoreADCWR: {twoOrMoreADCWR:.5f} [{twoOrMoreADC['sum'].astype(bool).sum(axis=0)} / {twoOrMoreADC['count'].count()}]")
print(f"threeOrMoreADCWR: {threeOrMoreADCWR:.5f} [{threeOrMoreADC['sum'].astype(bool).sum(axis=0)} / {threeOrMoreADC['count'].count()}]")
print(f"fourOrMoreADCWR: {fourOrMoreADCWR:.5f} [{fourOrMoreADC['sum'].astype(bool).sum(axis=0)} / {fourOrMoreADC['count'].count()}]")

print(f"95% CI: [{noADCCI[0]:.6f}, {noADCCI[1]:.6f}]")
print(f"95% CI: [{oneADCCI[0]:.6f}, {oneADCCI[1]:.6f}]")
print(f"95% CI: [{twoADCCI[0]:.6f}, {twoADCCI[1]:.6f}]")
print(f"95% CI: [{threeADCCI[0]:.6f}, {threeADCCI[1]:.6f}]")
print(f"95% CI: [{fourADCCI[0]:.6f}, {fourADCCI[1]:.6f}]")
print(f"95% CI: [{fiveADCCI[0]:.6f}, {fiveADCCI[1]:.6f}]")
print(f"95% CI: [{atLeastOneADCCI[0]:.6f}, {atLeastOneADCCI[1]:.6f}]")
print(f"95% CI: [{twoOrMoreADCCI[0]:.6f}, {twoOrMoreADCCI[1]:.6f}]")
print(f"95% CI: [{threeOrMoreADCCI[0]:.6f}, {threeOrMoreADCCI[1]:.6f}]")
print(f"95% CI: [{fourOrMoreADCCI[0]:.6f}, {fourOrMoreADCCI[1]:.6f}]")

noADCWR: 0.46122 [358570 / 777436]
oneADCWR: 0.51703 [775562 / 1500036]
twoADCWR: 0.51357 [409222 / 796814]
threeADCWR: 0.47005 [72795 / 154868]
fourADCWR: 0.38643 [4806 / 12437]
fiveADCWR: 0.38643 [210 / 737]
atLeastOneADCWR: 0.51223 [1262595 / 2464892]
twoOrMoreADCWR: 0.50477 [487033 / 964856]
threeOrMoreADCWR: 0.46304 [77811 / 168042]
fourOrMoreADCWR: 0.38075 [5016 / 13174]
95% CI: [0.460113, 0.462330]
95% CI: [0.516229, 0.517829]
95% CI: [0.512475, 0.514670]
95% CI: [0.467559, 0.472535]
95% CI: [0.377902, 0.395029]
95% CI: [0.251586, 0.317428]
95% CI: [0.511607, 0.512856]
95% CI: [0.503775, 0.505771]
95% CI: [0.460662, 0.465431]
95% CI: [0.372473, 0.389097]