In [14]:
import pandas as pd
import json
filePath = r"C:\\Users\\Pat\\Desktop\\Projects\\LoLAramPredictor\\Game Info\\"

In [15]:
with open(filePath+'champion.json', encoding='utf8') as f:
    championData = json.load(f)

champions = pd.DataFrame(columns = ['championId', 'name', 'attack', 'defense', 'magic', 'difficulty', 'primaryClass', 'secondaryClass', 'partype', 'hp', 'hpperlevel', 'mp', 'mpperlevel', 'movespeed', 'armor', 'armorperlevel', 'spellblock', 'spellblockperlevel', 'attackrange', 'hpregen', 'hpregenperlevel', 'mpregen', 'mpregenperlevel', 'crit', 'critperlevel', 'attackdamage', 'attackdamageperlevel', 'attackspeedperlevel', 'attackspeed'])

for k, v in championData['data'].items():
    champions = champions.append({'championId': int(v['key']),
                        'name': v['name'], 
                        'attack': v['info']['attack'], 
                        'defense': v['info']['defense'], 
                        'magic': v['info']['magic'], 
                        'difficulty': v['info']['difficulty'], 
                        'primaryClass': v['tags'][0], 
                        'secondaryClass': v['tags'][1] if len(v['tags']) > 1 else 'None', 
                        'partype': v['partype'], 
                        'hp': v['stats']['hp'], 
                        'hpperlevel': v['stats']['hpperlevel'], 
                        'mp': v['stats']['mp'], 
                        'mpperlevel': v['stats']['mpperlevel'], 
                        'movespeed': v['stats']['movespeed'], 
                        'armor': v['stats']['armor'], 
                        'armorperlevel': v['stats']['armorperlevel'], 
                        'spellblock': v['stats']['spellblock'], 
                        'spellblockperlevel': v['stats']['spellblockperlevel'], 
                        'attackrange': v['stats']['attackrange'], 
                        'hpregen': v['stats']['hpregen'], 
                        'hpregenperlevel': v['stats']['hpregenperlevel'], 
                        'mpregen': v['stats']['mpregen'], 
                        'mpregenperlevel': v['stats']['mpregenperlevel'], 
                        'crit': v['stats']['crit'], 
                        'critperlevel': v['stats']['critperlevel'], 
                        'attackdamage': v['stats']['attackdamage'], 
                        'attackdamageperlevel': v['stats']['attackdamageperlevel'], 
                        'attackspeedperlevel': v['stats']['attackspeedperlevel'], 
                        'attackspeed': v['stats']['attackspeed']}, ignore_index=True)

champions

,championId,name,attack,defense,magic,difficulty,primaryClass,secondaryClass,partype,hp,...,hpregen,hpregenperlevel,mpregen,mpregenperlevel,crit,critperlevel,attackdamage,attackdamageperlevel,attackspeedperlevel,attackspeed
0,266,Aatrox,8,4,3,4,Fighter,Tank,Blood Well,580,...,3,1,0,0,0,0,60,5,2.500,0.651
1,103,Ahri,3,4,8,5,Mage,Assassin,Mana,526,...,6.5,0.6,8,0.8,0,0,53.04,3,2.000,0.668
2,84,Akali,5,3,8,7,Assassin,None,Energy,575,...,8,0.5,50,0,0,0,62.4,3.3,3.200,0.625
3,12,Alistar,6,9,5,7,Tank,Support,Mana,600,...,8.5,0.85,8.5,0.8,0,0,62,3.75,2.125,0.625
4,32,Amumu,2,6,8,3,Tank,Mage,Mana,613.12,...,9,0.85,7.382,0.525,0,0,53.38,3.8,2.180,0.736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,238,Zed,9,2,1,7,Assassin,None,Energy,584,...,7,0.65,50,0,0,0,63,3.4,3.300,0.651
146,115,Ziggs,2,4,9,4,Mage,None,Mana,536,...,6.5,0.6,8,0.8,0,0,54.208,3.1,2.000,0.656
147,26,Zilean,2,5,8,6,Support,Mage,Mana,504,...,5.5,0.5,11.335,0.8,0,0,51.64,3,2.130,0.625
148,142,Zoe,1,7,8,5,Mage,Support,Mana,560,...,6.5,0.6,8,0.65,0,0,58,3.3,2.500,0.625
149,143,Zyra,4,3,8,7,Mage,Support,Mana,504,...,5.5,0.5,13,0.4,0,0,53.376,3.2,2.110,0.625

In [16]:
with open(filePath+'item.json', encoding='utf8') as f:
    itemData = json.load(f)

items = pd.DataFrame(columns = ['id', 'name', 'tags', 'stats'])

for k, v in itemData['data'].items():
    items = items.append({'id': k,
                    'name': v['name'], 
                    'tags': v['tags'],
                    'stats': v['stats'] 
                    }, ignore_index=True )
items.head()

     id               name              tags                         stats
0  1001     Boots of Speed           [Boots]  {'FlatMovementSpeedMod': 25}
1  1004       Faerie Charm       [ManaRegen]                            {}
2  1006  Rejuvenation Bead     [HealthRegen]                            {}
3  1011       Giant's Belt          [Health]        {'FlatHPPoolMod': 380}
4  1018   Cloak of Agility  [CriticalStrike]    {'FlatCritChanceMod': 0.2}

In [17]:
tagTypes = set()
items['tags'].apply(lambda x: tagTypes.update((t for t in x)))
tagTypes

{'Active',
 'Armor',
 'ArmorPenetration',
 'AttackSpeed',
 'Aura',
 'Bilgewater',
 'Boots',
 'Consumable',
 'CooldownReduction',
 'CriticalStrike',
 'Damage',
 'GoldPer',
 'Health',
 'HealthRegen',
 'Jungle',
 'Lane',
 'LifeSteal',
 'MagicPenetration',
 'Mana',
 'ManaRegen',
 'NonbootsMovement',
 'OnHit',
 'Slow',
 'SpellBlock',
 'SpellDamage',
 'SpellVamp',
 'Stealth',
 'Tenacity',
 'Trinket',
 'Vision'}

In [18]:
statTypes = set()
items['stats'].apply(lambda x: statTypes.update((s for s in x)))
statTypes

{'FlatArmorMod',
 'FlatCritChanceMod',
 'FlatHPPoolMod',
 'FlatHPRegenMod',
 'FlatMPPoolMod',
 'FlatMagicDamageMod',
 'FlatMovementSpeedMod',
 'FlatPhysicalDamageMod',
 'FlatSpellBlockMod',
 'PercentAttackSpeedMod',
 'PercentLifeStealMod',
 'PercentMovementSpeedMod'}

In [19]:
items[items['tags'].apply(lambda x: 'LifeSteal' in x)]

,id,name,tags,stats
14,1039,Hunter's Talisman,"[LifeSteal, ManaRegen, OnHit, Jungle]",{}
15,1041,Hunter's Machete,"[LifeSteal, OnHit, Jungle]",{}
19,1053,Vampiric Scepter,"[Damage, LifeSteal]","{'FlatPhysicalDamageMod': 15, 'PercentLifeStea..."
21,1055,Doran's Blade,"[Damage, Health, Lane, LifeSteal]","{'FlatPhysicalDamageMod': 8, 'FlatHPPoolMod': ..."
26,1083,Cull,"[Damage, LifeSteal, Lane]",{'FlatPhysicalDamageMod': 7}
50,2140,Elixir of Wrath,"[Consumable, Damage, LifeSteal, SpellVamp]",{}
97,3072,Bloodthirster,"[Damage, LifeSteal]",{'FlatPhysicalDamageMod': 80}
99,3074,Ravenous Hydra,"[Active, Damage, HealthRegen, LifeSteal, OnHit]","{'FlatPhysicalDamageMod': 80, 'PercentLifeStea..."
111,3091,Wit's End,"[SpellBlock, AttackSpeed, LifeSteal, NonbootsM...","{'PercentMovementSpeedMod': 0.05, 'FlatSpellBl..."
138,3139,Mercurial Scimitar,"[SpellBlock, Damage, LifeSteal, Active, Nonboo...","{'FlatPhysicalDamageMod': 50, 'FlatSpellBlockM..."
142,3144,Bilgewater Cutlass,"[Active, Damage, LifeSteal, Slow]","{'FlatPhysicalDamageMod': 25, 'PercentLifeStea..."
144,3146,Hextech Gunblade,"[Active, Damage, LifeSteal, Slow, SpellDamage,...","{'FlatPhysicalDamageMod': 40, 'FlatMagicDamage..."
148,3153,Blade of the Ruined King,"[Damage, AttackSpeed, LifeSteal, Active, Slow,...","{'FlatPhysicalDamageMod': 40, 'PercentAttackSp..."
150,3156,Maw of Malmortius,"[SpellBlock, Damage, LifeSteal, CooldownReduct...","{'FlatPhysicalDamageMod': 50, 'FlatSpellBlockM..."
160,3181,Sanguine Blade,"[Damage, AttackSpeed, LifeSteal, ArmorPenetrat...","{'FlatPhysicalDamageMod': 55, 'PercentLifeStea..."
161,3184,Guardian's Hammer,"[Health, Damage, LifeSteal, Lane]","{'FlatPhysicalDamageMod': 20, 'FlatHPPoolMod':..."
191,3389,Might of the Ruined King,"[Damage, AttackSpeed, LifeSteal, Active, Slow,...","{'FlatPhysicalDamageMod': 55, 'PercentAttackSp..."
221,3706,Stalker's Blade,"[LifeSteal, ManaRegen, Slow, OnHit, NonbootsMo...",{}
222,3715,Skirmisher's Sabre,"[LifeSteal, ManaRegen, OnHit, Jungle]",{}
229,3812,Death's Dance,"[SpellBlock, Armor, Damage, LifeSteal, Cooldow...","{'FlatPhysicalDamageMod': 50, 'FlatSpellBlockM..."
252,4101,Pridestalker's Blade,"[LifeSteal, ManaRegen, Slow, OnHit, NonbootsMo...",{}
258,4202,Doran's Lost Blade,"[Damage, Health, Lane, LifeSteal]","{'FlatPhysicalDamageMod': 8, 'FlatHPPoolMod': ..."
263,4403,The Golden Spatula,"[Health, SpellBlock, HealthRegen, Armor, Damag...","{'FlatPhysicalDamageMod': 70, 'FlatCritChanceM..."

In [20]:
with open(filePath+'runesReforged.json', encoding='utf8') as f:
    runeData = json.load(f)

runes = pd.DataFrame(columns = ['id', 'name', 'slot', 'tree'])

for v1 in runeData:
    tree = v1['name']
    for i in range(len(v1['slots'])):
        slot = i
        for v2 in v1['slots'][i]['runes']:
            # print(v2['name'])
            runes = runes.append({'id': v2['id'],
                            'name': v2['name'], 
                            'slot': slot,
                            'tree': tree
                            }, ignore_index=True )

# runes.head()
runes

      id             name slot        tree
0   8112      Electrocute    0  Domination
1   8124         Predator    0  Domination
2   8128     Dark Harvest    0  Domination
3   9923   Hail of Blades    0  Domination
4   8126       Cheap Shot    1  Domination
..   ...              ...  ...         ...
58  8234         Celerity    2     Sorcery
59  8233   Absolute Focus    2     Sorcery
60  8237           Scorch    3     Sorcery
61  8232     Waterwalking    3     Sorcery
62  8236  Gathering Storm    3     Sorcery

[63 rows x 4 columns]

In [21]:
import asyncpg
import nest_asyncio
import asyncio
from config import dbConfig

nest_asyncio.apply()
loop = asyncio.get_event_loop()

In [22]:
squishyChamps = champions[['championId', 'name', 'attack', 'defense', 'magic', 'hp', 'hpperlevel', 'armor', 'armorperlevel', 'spellblock', 'spellblockperlevel', 'hpregen', 'hpregenperlevel']]

In [23]:
squishyChamps['spellblock_18'] = squishyChamps['spellblock'] + squishyChamps['spellblockperlevel'] * 17
squishyChamps['armor_18'] = squishyChamps['armor'] + squishyChamps['spellblockperlevel'] * 17
squishyChamps['hp_18'] = squishyChamps['hp'] + squishyChamps['hpperlevel'] * 17
# squishyChamps['Mr_Def'] = squishyChamps['spellblock_18'] * squishyChamps['defense']
squishyChamps['MReffectiveHP'] = squishyChamps['hp_18'] * (squishyChamps['spellblock_18'] + 100)/100 #* squishyChamps['defense']
squishyChamps['ArmorEffectiveHP'] = squishyChamps['hp_18'] * (squishyChamps['armor_18'] + 100)/100 #* squishyChamps['defense']

squishyChamps[['name', 'defense', 'hp', 'hpperlevel', 'hp_18', 'spellblock', 'spellblockperlevel', 'spellblock_18', 'MReffectiveHP', 'ArmorEffectiveHP']].sort_values(axis=0, ascending=True, by='MReffectiveHP').head(60)

,name,defense,hp,hpperlevel,hp_18,spellblock,spellblockperlevel,spellblock_18,MReffectiveHP,ArmorEffectiveHP
143,Yuumi,1,480,70,1670,25.0,0.30,30.10,2172.67,2172.67
34,Gnar,5,510,65,1615,30.0,0.50,38.50,2236.78,2269.07
42,Janna,5,500,70,1690,30.0,0.50,38.50,2340.65,2306.85
59,Kled,2,340,70,1530,32.1,1.25,53.35,2346.26,2390.62
77,Nami,3,475,74,1733,30.0,0.50,38.50,2400.2,2382.88
67,Lulu,5,525,74,1783,30.0,0.50,38.50,2469.45,2451.62
110,Sona,2,482.36,77,1791.36,30.0,0.50,38.50,2481.03,2445.21
111,Soraka,5,535,74,1793,30.0,0.50,38.50,2483.3,2519.16
101,Senna,2,520,75,1795,30.0,0.50,38.50,2486.07,2450.18
149,Zyra,3,504,79,1847,30.0,0.50,38.50,2558.09,2539.62
5,Anivia,4,480,82,1874,30.0,0.50,38.50,2595.49,2430.95
147,Zilean,5,504,82,1898,30.0,0.50,38.50,2628.73,2514.85
68,Lux,4,490,85,1935,30.0,0.50,38.50,2679.97,2461.71
38,Heimerdinger,6,488,87,1967,30.0,0.50,38.50,2724.3,2508.71
7,Aphelios,2,530,88,2026,26.0,0.50,34.50,2724.97,2765.49
56,Kennen,4,541,84,1969,30.0,0.50,38.50,2727.07,2707.38
112,Swain,6,525,85,1970,30.0,0.50,38.50,2728.45,2585.03
107,Sion,9,545,73,1786,32.1,1.25,53.35,2738.83,2737.05
91,Quinn,4,532.8,85,1977.8,30.0,0.50,38.50,2739.25,2699.7
58,Kindred,2,540,85,1985,30.0,0.50,38.50,2749.22,2729.38
81,Nidalee,4,545,85,1990,30.0,0.50,38.50,2756.15,2716.35
19,Corki,3,518,87,1997,30.0,0.50,38.50,2765.84,2725.91
13,Brand,2,519.68,88,2015.68,30.0,0.50,38.50,2791.72,2628.04
131,Vel'Koz,2,520,88,2016,30.0,0.50,38.50,2792.16,2628.46
70,Malzahar,2,537,87,2016,30.0,0.50,38.50,2792.16,2550.24
85,Orianna,3,530,91,2077,26.0,0.50,34.50,2793.57,2607.47
6,Annie,3,524,88,2020,30.0,0.50,38.50,2797.7,2579.94
27,Ezreal,2,530,88,2026,30.0,0.50,38.50,2806.01,2643.93
129,Vayne,1,515,89,2028,30.0,0.50,38.50,2808.78,2666.82
51,Karthus,2,550,87,2029,30.0,0.50,38.50,2810.16,2625.12
66,Lucian,5,571,86,2033,30.0,0.50,38.50,2815.7,2775.05
8,Ashe,3,570,87,2049,30.0,0.50,38.50,2837.86,2755.91
114,Syndra,3,523,90,2053,30.0,0.50,38.50,2843.41,2734.84
121,Tristana,3,559,88,2055,30.0,0.50,38.50,2846.18,2763.97
119,Teemo,3,528,90,2058,30.0,0.50,38.50,2850.33,2733.02
133,Viktor,4,530,90,2060,30.0,0.50,38.50,2853.1,2708.9
116,Taliyah,7,532,90,2062,30.0,0.50,38.50,2855.87,2649.67
80,Neeko,1,540,90,2070,30.0,0.50,38.50,2866.95,2680.65
47,Jinx,2,610,86,2072,30.0,0.50,38.50,2869.72,2828.28
11,Bard,4,560,89,2073,30.0,0.50,38.50,2871.11,2954.03
125,Twitch,2,612,86,2074,30.0,0.50,38.50,2872.49,2810.27
128,Varus,3,530,91,2077,30.0,0.50,38.50,2876.64,2814.34
65,Lissandra,5,550,90,2080,30.0,0.50,38.50,2880.8,2714.4
137,Xayah,6,590,88,2086,30.0,0.50,38.50,2889.11,2784.81
138,Xerath,3,526,92,2090,30.0,0.50,38.50,2894.65,2724.94
45,Jayce,4,560,90,2090,30.0,0.50,38.50,2894.65,2831.95
1,Ahri,4,526,92,2090,30.0,0.50,38.50,2894.65,2704.04
76,Morgana,6,560,90,2090,30.0,0.50,38.50,2894.65,2790.15
15,Caitlyn,2,510,93,2091,30.0,0.50,38.50,2896.03,2854.22
108,Sivir,3,562,90,2092,30.0,0.50,38.50,2897.42,2813.74
61,LeBlanc,4,528,92,2092,30.0,0.50,38.50,2897.42,2727.55
60,Kog'Maw,2,565,90,2095,30.0,0.50,38.50,2901.57,2775.88
48,Kai'Sa,5,600,88,2096,30.0,0.50,38.50,2902.96,2861.04
146,Ziggs,4,536,92,2100,30.0,0.50,38.50,2908.5,2730.92
54,Kayle,6,600,85,2045,34.0,0.50,42.50,2914.12,2750.53
52,Kassadin,5,576,90,2106,30.0,0.50,38.50,2916.81,2685.15
25,Elise,5,534,93,2115,30.0,0.50,38.50,2929.28,2865.82
10,Azir,3,552,92,2116,30.0,0.50,38.50,2930.66,2698.75
17,Cassiopeia,3,560,90,2090,32.0,0.50,40.50,2936.45,2643.85
82,Nocturne,5,585,85,2030,32.1,0.75,44.85,2940.45,3060.22

In [24]:
squishyChamps.dtypes

championId             object
name                   object
attack                 object
defense                object
magic                  object
hp                     object
hpperlevel             object
armor                  object
armorperlevel         float64
spellblock            float64
spellblockperlevel    float64
hpregen                object
hpregenperlevel        object
spellblock_18         float64
armor_18               object
hp_18                  object
MReffectiveHP          object
ArmorEffectiveHP       object
dtype: object

In [25]:
squishyChamps['MReffectiveHP'].astype('float').quantile([.25, .5, .75])

0.25    2867.6425
0.50    3007.9295
0.75    3235.6850
Name: MReffectiveHP, dtype: float64

In [26]:
squishyChampNames = ['Ahri', 'Annie', 'Aphelios', 'Ashe', 'Aurelion Sol', 'Azir', 'Bard', 'Caitlyn', 'Cassiopeia', 'Corki', 'Draven', 'Ekko', 'Elise', 'Evelynn', 'Ezreal', 'Fizz', 'Gangplank', 'Heimerdinger', 'Janna', 'Jayce', 'Jhin', 'Jinx', "Kai'Sa", 'Kalista', 'Karma', 'Karthus', 'Kassadin', 'Kayle', 'Kayn', 'Kennen', "Kha'Zix", 'Kindred', "Kog'Maw", 'LeBlanc', 'Lillia', 'Lucian', 'Lulu', 'Lux', 'Miss Fortune', 'Morgana', 'Nami', 'Neeko', 'Nidalee', 'Orianna', 'Pyke', 'Qiyana', 'Quinn', 'Rengar', 'Senna', 'Shaco', 'Sivir', 'Sona', 'Soraka', 'Syndra', 'Taliyah', 'Talon', 'Teemo', 'Tristana', 'Twisted Fate', 'Twitch', 'Varus', 'Vayne', 'Veigar', "Vel'Koz", 'Viktor', 'Xayah', 'Xerath', 'Yasuo', 'Yone', 'Yuumi', 'Zed', 'Ziggs', 'Zilean', 'Zoe', 'Zyra']
squishyChampIds = [champions.loc[champions["name"] == name, "championId"].values[0] for name in squishyChampNames]
print(squishyChampNames)
print(squishyChampIds)

['Ahri', 'Annie', 'Aphelios', 'Ashe', 'Aurelion Sol', 'Azir', 'Bard', 'Caitlyn', 'Cassiopeia', 'Corki', 'Draven', 'Ekko', 'Elise', 'Evelynn', 'Ezreal', 'Fizz', 'Gangplank', 'Heimerdinger', 'Janna', 'Jayce', 'Jhin', 'Jinx', "Kai'Sa", 'Kalista', 'Karma', 'Karthus', 'Kassadin', 'Kayle', 'Kayn', 'Kennen', "Kha'Zix", 'Kindred', "Kog'Maw", 'LeBlanc', 'Lillia', 'Lucian', 'Lulu', 'Lux', 'Miss Fortune', 'Morgana', 'Nami', 'Neeko', 'Nidalee', 'Orianna', 'Pyke', 'Qiyana', 'Quinn', 'Rengar', 'Senna', 'Shaco', 'Sivir', 'Sona', 'Soraka', 'Syndra', 'Taliyah', 'Talon', 'Teemo', 'Tristana', 'Twisted Fate', 'Twitch', 'Varus', 'Vayne', 'Veigar', "Vel'Koz", 'Viktor', 'Xayah', 'Xerath', 'Yasuo', 'Yone', 'Yuumi', 'Zed', 'Ziggs', 'Zilean', 'Zoe', 'Zyra']
[103, 1, 523, 22, 136, 268, 432, 51, 69, 42, 119, 245, 60, 28, 81, 105, 41, 74, 40, 126, 202, 222, 145, 429, 43, 30, 38, 10, 141, 85, 121, 203, 96, 7, 876, 236, 117, 99, 21, 25, 267, 518, 76, 61, 555, 246, 133, 107, 235, 35, 15, 37, 16, 134, 163, 91, 17, 18, 4, 29, 110, 67, 45, 161, 112, 498, 101, 157, 777, 350, 238, 115, 26, 142, 143]

In [27]:
# import itertools
# champNameCombo = list(itertools.combinations(champions['name'], 2))
# print(champNameCombo[0])

# champIdCombinations = list(itertools.combinations(champions['championId'], 2))
# champIdCombinations

In [28]:
async def fetch_as_dataframe(con: asyncpg.Connection, query: str, *args):
    stmt = await con.prepare(query)
    columns = [a.name for a in stmt.get_attributes()]
    data = await stmt.fetch()
    return pd.DataFrame(data, columns=columns)

async def run():
    connection = await asyncpg.connect(user=dbConfig['user'],
                                password=dbConfig['password'],
                                host=dbConfig['host'],
                                port=dbConfig['port'],
                                database=dbConfig['database'])
    async with connection.transaction():
        leblancQuery = f'SELECT "gameId", "championId", "teamColor", "win" \
                    FROM "Participant_Stats" \
                    WHERE "gameId" = ANY( \
                        (SELECT array (SELECT "gameId" FROM "Participant_Stats"\
                                        WHERE "championId" = {champions.loc[champions["name"] == "LeBlanc", "championId"].values[0]} \
                                        ) \
                                        )::BIGINT[] \
                                        ) \
                    ORDER BY "gameId" ASC;'
        leblancGames_df = await fetch_as_dataframe(connection, leblancQuery)
    return leblancGames_df

leblancGames_df = loop.run_until_complete(run())
leblancGames_df

             gameId  championId teamColor    win
0        2856625643         126       Red   True
1        2856625643           7       Red   True
2        2856625643          26      Blue  False
3        2856625643         429      Blue  False
4        2856625643          11       Red   True
...             ...         ...       ...    ...
1439984  3588287460          63      Blue   True
1439985  3588287460          53      Blue   True
1439986  3588287460         104      Blue   True
1439987  3588287460          10       Red  False
1439988  3588287460         143       Red  False

[1439989 rows x 4 columns]

In [29]:
leblancChampId = champions.loc[champions["name"] == "LeBlanc", "championId"].values[0]
temp = leblancGames_df[leblancGames_df['championId'] == leblancChampId]
temp['isLeblancTeam'] = True
temp

             gameId  championId teamColor    win  isLeblancTeam
1        2856625643           7       Red   True           True
13       2857616125           7      Blue  False           True
24       2857680926           7       Red   True           True
34       2859611157           7      Blue   True           True
43       2861931864           7      Blue   True           True
...             ...         ...       ...    ...            ...
1439946  3587851875           7       Red   True           True
1439957  3587911447           7       Red   True           True
1439962  3588220059           7      Blue  False           True
1439977  3588221801           7      Blue  False           True
1439982  3588287460           7       Red  False           True

[143999 rows x 5 columns]

In [30]:
allLeblancGames = temp[['gameId', 'win']].groupby(['gameId']).agg(['sum'])['win']
allLeblancGames

            sum
gameId
2856625643    1
2857616125    0
2857680926    1
2859611157    1
2861931864    1
...         ...
3587851875    1
3587911447    1
3588220059    0
3588221801    0
3588287460    0

[143999 rows x 1 columns]

In [31]:
leblancWR = allLeblancGames['sum'].astype(bool).sum(axis=0)/len(allLeblancGames.index)

print(f"LeBlancWR: {leblancWR:.5f} [{allLeblancGames['sum'].astype(bool).sum(axis=0)} / {len(allLeblancGames.index)}]")

LeBlancWR: 0.46682 [67222 / 143999]

In [32]:
leblancGames = pd.merge(leblancGames_df, temp[['gameId', 'teamColor', 'isLeblancTeam']], how='left', left_on=['gameId', 'teamColor'], right_on=['gameId', 'teamColor']).fillna(False)
leblancGames

             gameId  championId teamColor    win  isLeblancTeam
0        2856625643         126       Red   True           True
1        2856625643           7       Red   True           True
2        2856625643          26      Blue  False          False
3        2856625643         429      Blue  False          False
4        2856625643          11       Red   True           True
...             ...         ...       ...    ...            ...
1439984  3588287460          63      Blue   True          False
1439985  3588287460          53      Blue   True          False
1439986  3588287460         104      Blue   True          False
1439987  3588287460          10       Red  False           True
1439988  3588287460         143       Red  False           True

[1439989 rows x 5 columns]

In [33]:
leblancGames['isSquishy'] = leblancGames['championId'].isin(squishyChampIds)
leblancGames

             gameId  championId teamColor    win  isLeblancTeam  isSquishy
0        2856625643         126       Red   True           True       True
1        2856625643           7       Red   True           True       True
2        2856625643          26      Blue  False          False       True
3        2856625643         429      Blue  False          False       True
4        2856625643          11       Red   True           True      False
...             ...         ...       ...    ...            ...        ...
1439984  3588287460          63      Blue   True          False      False
1439985  3588287460          53      Blue   True          False      False
1439986  3588287460         104      Blue   True          False      False
1439987  3588287460          10       Red  False           True       True
1439988  3588287460         143       Red  False           True       True

[1439989 rows x 6 columns]

In [34]:
noSquishiesGames = leblancGames.loc[(leblancGames['isLeblancTeam'] == True) & (leblancGames['isSquishy'] == False)]
noSquishiesGames

             gameId  championId teamColor    win  isLeblancTeam  isSquishy
4        2856625643          11       Red   True           True      False
5        2856625643          31       Red   True           True      False
8        2856625643          24       Red   True           True      False
11       2857616125          11      Blue  False           True      False
19       2857616125         102      Blue  False           True      False
...             ...         ...       ...    ...            ...        ...
1439959  3588220059          64      Blue  False           True      False
1439965  3588220059         360      Blue  False           True      False
1439970  3588221801         104      Blue  False           True      False
1439975  3588221801          54      Blue  False           True      False
1439979  3588287460          11       Red  False           True      False

[239136 rows x 6 columns]

In [35]:
noSquishiesGames = noSquishiesGames[['gameId', 'win', 'isSquishy']].groupby(['gameId']).agg(['sum'])
noSquishiesGames

           win isSquishy
           sum       sum
gameId
2856625643   3         0
2857616125   0         0
2857680926   1         0
2859611157   1         0
2861931864   4         0
...         ..       ...
3587851875   2         0
3587911447   3         0
3588220059   0         0
3588221801   0         0
3588287460   0         0

[130012 rows x 2 columns]

In [36]:
leblancGames = leblancGames.loc[(leblancGames['isLeblancTeam'] == False) & (leblancGames['isSquishy'] == True)]
leblancGames

             gameId  championId teamColor    win  isLeblancTeam  isSquishy
2        2856625643          26      Blue  False          False       True
3        2856625643         429      Blue  False          False       True
9        2856625643          85      Blue  False          False       True
16       2857616125         107       Red   True          False       True
28       2857680926         133      Blue  False          False       True
...             ...         ...       ...    ...            ...        ...
1439972  3588221801         432       Red   True          False       True
1439973  3588221801         555       Red   True          False       True
1439974  3588221801         101       Red   True          False       True
1439978  3588221801          29       Red   True          False       True
1439980  3588287460          26      Blue   True          False       True

[427025 rows x 6 columns]

In [37]:
leblancGames = leblancGames[['gameId', 'win', 'isSquishy']].groupby(['gameId']).agg(['sum'])#[['win', 'isSupport']]
leblancGames

           win isSquishy
           sum       sum
gameId
2856625643   0         3
2857616125   1         1
2857680926   0         2
2859611157   0         3
2861931864   0         2
...         ..       ...
3587851875   0         2
3587911447   0         3
3588220059   3         3
3588221801   5         5
3588287460   1         1

[142924 rows x 2 columns]

In [38]:
from statsmodels.stats.proportion import proportion_confint

In [39]:
noSquishies = noSquishiesGames[noSquishiesGames['isSquishy']['sum'] == 0]['win']
oneSquishies = leblancGames[leblancGames['isSquishy']['sum'] == 1]['win']
twoSquishies = leblancGames[leblancGames['isSquishy']['sum'] == 2]['win']
threeSquishies = leblancGames[leblancGames['isSquishy']['sum'] == 3]['win']
fourSquishies = leblancGames[leblancGames['isSquishy']['sum'] == 4]['win']
fiveSquishies = leblancGames[leblancGames['isSquishy']['sum'] == 5]['win']

noSquishiesWR = noSquishies['sum'].astype(bool).sum(axis=0)/len(noSquishiesGames.index)
oneSquishiesWR = (~oneSquishies['sum'].astype(bool)).sum(axis=0)/len(oneSquishies.index)
twoSquishiesWR = (~twoSquishies['sum'].astype(bool)).sum(axis=0)/len(twoSquishies.index)
threeSquishiesWR = (~threeSquishies['sum'].astype(bool)).sum(axis=0)/len(threeSquishies.index)
fourSquishiesWR = (~fourSquishies['sum'].astype(bool)).sum(axis=0)/len(fourSquishies.index)
fiveSquishiesWR = (~fiveSquishies['sum'].astype(bool)).sum(axis=0)/len(fiveSquishies.index)

leblancCI = proportion_confint(allLeblancGames['sum'].astype(bool).sum(axis=0), len(allLeblancGames.index), method='binom_test', alpha=0.05)
noSquishiesCI = proportion_confint(noSquishies['sum'].astype(bool).sum(axis=0), len(noSquishiesGames.index), method='binom_test', alpha=0.05)
oneSquishiesCI = proportion_confint((~oneSquishies['sum'].astype(bool)).sum(axis=0), len(oneSquishies.index), method='binom_test', alpha=0.05)
twoSquishiesCI = proportion_confint((~twoSquishies['sum'].astype(bool)).sum(axis=0), len(twoSquishies.index), method='binom_test', alpha=0.05)
threeSquishiesCI = proportion_confint((~threeSquishies['sum'].astype(bool)).sum(axis=0), len(threeSquishies.index), method='binom_test', alpha=0.05)
fourSquishiesCI = proportion_confint((~fourSquishies['sum'].astype(bool)).sum(axis=0), len(fourSquishies.index), method='binom_test', alpha=0.05)
fiveSquishiesCI = proportion_confint((~fiveSquishies['sum'].astype(bool)).sum(axis=0), len(fiveSquishies.index), method='binom_test', alpha=0.05)

In [40]:
print(f"LeBlancWR: {leblancWR:.5f} [{allLeblancGames['sum'].astype(bool).sum(axis=0)} / {len(allLeblancGames.index)}]")
print(f"noSquishiesWR: {noSquishiesWR:.5f} [{noSquishies['sum'].astype(bool).sum(axis=0)} / {len(noSquishies.index)}]")
print(f"oneSquishiesWR: {oneSquishiesWR:.5f} [{(~oneSquishies['sum'].astype(bool)).sum(axis=0)} / {len(oneSquishies.index)}]")
print(f"twoSquishiesWR: {twoSquishiesWR:.5f} [{(~twoSquishies['sum'].astype(bool)).sum(axis=0)} / {len(twoSquishies.index)}]")
print(f"threeSquishiesWR: {threeSquishiesWR:.5f} [{(~threeSquishies['sum'].astype(bool)).sum(axis=0)} / {len(threeSquishies.index)}]")
print(f"fourSquishiesWR: {fourSquishiesWR:.5f} [{(~fourSquishies['sum'].astype(bool)).sum(axis=0)} / {len(fourSquishies.index)}]")
print(f"fiveSquishiesWR: {fiveSquishiesWR:.5f} [{(~fiveSquishies['sum'].astype(bool)).sum(axis=0)} / {len(fiveSquishies.index)}]")

print(f"95% CI: [{leblancCI[0]:.6f}, {leblancCI[1]:.6f}]")
print(f"95% CI: [{noSquishiesCI[0]:.6f}, {noSquishiesCI[1]:.6f}]")
print(f"95% CI: [{oneSquishiesCI[0]:.6f}, {oneSquishiesCI[1]:.6f}]")
print(f"95% CI: [{twoSquishiesCI[0]:.6f}, {twoSquishiesCI[1]:.6f}]")
print(f"95% CI: [{threeSquishiesCI[0]:.6f}, {threeSquishiesCI[1]:.6f}]")
print(f"95% CI: [{fourSquishiesCI[0]:.6f}, {fourSquishiesCI[1]:.6f}]")
print(f"95% CI: [{fiveSquishiesCI[0]:.6f}, {fiveSquishiesCI[1]:.6f}]")

LeBlancWR: 0.46682 [67222 / 143999]
noSquishiesWR: 0.46705 [60722 / 130012]
oneSquishiesWR: 0.48058 [4814 / 10017]
twoSquishiesWR: 0.46826 [16052 / 34280]
threeSquishiesWR: 0.46046 [24948 / 54181]
fourSquishiesWR: 0.46420 [16862 / 36325]
fiveSquishiesWR: 0.49243 [3999 / 8121]
95% CI: [0.464246, 0.469403]
95% CI: [0.464338, 0.469764]
95% CI: [0.470799, 0.490416]
95% CI: [0.462981, 0.473556]
95% CI: [0.456257, 0.464665]
95% CI: [0.459064, 0.469332]
95% CI: [0.481529, 0.503325]